body {
    background-color: #fff;
    color: #656e88;
}

.main-content {
    background-color: #bcc9db;
    min-height: 100vh;
}

.nav-link {
    color: #000;
    opacity: 0.7;
    padding: 1em 0em;
}

.nav-link:hover {
    opacity: 1;
    color: #000;
}

.nav-link.active {
    opacity: 1;
    color: #000;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;
}

.card-header h3{
    font-size: 1em;
    letter-spacing: 1px;
}

table.table tr th{
    color: #737373;
}

table.table tr td{
    color: #737373;
    font-size: .9em;
    vertical-align: middle;
}

.pagination{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem;
}

// .pagination div div *{
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.pagination div{
    margin: 2rem;
    display: flex;
    justify-content: center;
}

svg{
    width: 1em;
    height: 1em;
}